/*整个页面的背景色*/
html body {
 background-color: #efefef;
}
/*下面*/
div.main{
    background-color: white;
    margin: 30px;
}
/*发布按钮*/
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
/*头像图片大小*/
.media-object{
    width:38px;
    height:38px;
}
/*主页问题详情字体*/
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
/*个人中心右侧列表的位置*/
.profile .section{
    margin-top: 15px;
}

.community-menu{
    font-size: 13px;
    color: #999;
    text-decoration: none;
}
.community-menu:hover{
    text-decoration: none;
}
